/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-weight: 900;
    font-size: 24px;
    font-family: "Poppins", Arial, sans-serif;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    font-family: "Poppins", Arial, sans-serif;
    scroll-behavior: smooth;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.hero-wrap {
    width: 100%;
    min-height: 500px;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.navbar {
    position: relative;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.my-navbar {
    position: absolute;
    right: 0;
    left: 0;
    top: 33px;
    z-index: 3;
    padding-top: 15px;
}

a.nav-link {
    font-size: 16px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 600;
    padding: 11px 11px;
    margin: 0 15px;
}

div.py-1.bg-info.top {
    position: relative;
    height: 41px;
}

.parallax {
    /* The image used */
    background-image: url("https://knowpathology.com.au/app/uploads/2019/01/Donating-Blood-min-825x510.jpeg");
    /* Set a specific height */
    min-height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-section{
    text-align:right;
    position:relative;
    padding-left:20px;
}
img.notsticky {
    position: relative;
    top: 0;
    /*width: 640px;
    height: 600px;*/
    background-size: cover;
    margin-left: 40px;
}

.centered {
    position: relative;
    text-align:center;
    color: red;
    font-size: 20px;
    font-family: Cambria, Arial, sans-serif;
    font-weight: 800;
    margin:20px;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.container1 {
    margin-left: 0px;
    background-size: cover;
    border-image-width: 900px;
}

.container:hover .overlay {
    opacity: 1;
}

.don {
    height: 510px;
    width: 600px;
    margin-right: 10px;
}
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 350px;
    height: 250px;
    padding: 10px;
    margin: 5px;
    font-size-adjust:inherit;
}
