@{
    ViewData["Title"] = "Home Page";
}
<section class="hero-wrap" style="background-image: url('https://knowpathology.com.au/app/uploads/2019/01/Donating-Blood-min-825x510.jpeg');" data-section="home">
    <div class="container">
        <div class="row" style="height: 360px;">
            <div class="col-md-7 pt-5">
                <div class="text-left mt-5 pt-5">
                    <h1 class="display-4" style="font-size: 64px;font-weight:700; color: black;">Give <span style="color: red;">Blood</span> Today Save a Life</h1>
                    <p class="pt-4" style="font-size: 17px;">Donations are essential for trauma patients and people undergoing a variety of situations, including surgeries, transplants, chronic illnesses, blood disorders and cancer. Because over 90% of people who are eligible to donate do not, Baker says there's always a need for donors</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero-wrap my-section bg-light" id="about-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-auto" style="height: 700px;">
                <div class="text-center mt-5">
                    <h1 class="display-4">Blah blah</h1>
                    <p>By giving blood you are saving...</p>
                </div>
            </div>
        </div>
    </div>
</section>



