@{  
    ViewData["Title"] = "Home Page";
}
<section class="hero-wrap" style="background-image: url('https://knowpathology.com.au/app/uploads/2019/01/Donating-Blood-min-825x510.jpeg');" data-section="home">
    <div class="container">
        <div class="row" style="height: 360px;">
            <div class="col-md-7 pt-5">
                <div class="text-left mt-5 pt-5">
                    <h1 class="display-4" style="font-size: 64px;font-weight:700; color: black;">Give <span style="color: red;">Blood</span> Today Save a Life</h1>
                    <p class="pt-4" style="font-size: 17px;">Donations are essential for trauma patients and people undergoing a variety of situations, including surgeries, transplants, chronic illnesses, blood disorders and cancer. Because over 90% of people who are eligible to donate do not, Baker says there's always a need for donors</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero-wrap my-section bg-light" id="about-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-auto" style="height: 700px;">
                <div class="text-center mt-5">
                    <h1 class="display-4">Blah blah</h1>
                    <p>By giving blood you are saving...</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero-wrap" id="contact-section" style="background-image: url('https://creativedigitalera.com/wp-content/uploads/2018/07/contact-us-background-image-1.jpg')">
    <center>
        <div class="container">
            <div class="contact-form">
                <h1>Contact Us</h1>
                <div class="txtb">
                    <label>Full Name:</label>
                    <input type="text" name="" value="" placeholder="Enter Your Name" />
                </div>

                <div class="txtb">
                    <label>Email:</label>
                    <input type="email" name="" value="" placeholder="Enter Your Email" />
                </div>

                <div class="txtb">
                    <label>Phone Number:</label>
                    <input type="tel" name="" value="" placeholder="Enter Your Phone Number" />
                </div>

                <div class="txtb">
                    <label>Message:</label>
                    <textarea></textarea>
                </div>

                <div>
                    <a class="btn">Send</a>
                </div>
            </div>
        </div>
    </center>   
</section>



