@{
    ViewData["Title"] = "Home Page";
}
<section class="hero-wrap" style="background-image: url('https://knowpathology.com.au/app/uploads/2019/01/Donating-Blood-min-825x510.jpeg');" data-section="home">
    <div class="container">
        <div class="row" style="height: 360px;">
            <div class="col-md-12 pt-5">
                <div class="text-center mt-5">
                    <h1 class="display-4">Welcome</h1>
                    <p>Blood donation system by UCA students ;) Manu, Timima, and Faridun.</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="my-section bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-auto" style="height: 700px;"></div>
        </div>
    </div>
</section>



