@model Blood_Donation_System.Models.Donations

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="mt-5 pt-5">
        <h1>Edit</h1>

        <h4>Donations</h4>
        <hr />
        <div class="row">
            <div class="col-md-4 shadow">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="DonationId" />
                    <div class="form-group">
                        <label asp-for="DonationCity" class="control-label"></label>
                        <input asp-for="DonationCity" class="form-control" required />
                        <span asp-validation-for="DonationCity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" required />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DonatonDate" class="control-label"></label>
                        <input asp-for="DonatonDate" class="form-control" type="date" required />
                        <span asp-validation-for="DonatonDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CurrentDonorId" class="control-label"></label>
                        <select asp-for="CurrentDonorId" class="form-control" asp-items="ViewBag.CurrentDonorId" required></select>
                        <span asp-validation-for="CurrentDonorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

<script src="~/js/notHome.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
